<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Beers Index</title>
    <th:block th:replace="~{main/fragments :: styles}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{main/fragments :: header}"></th:block>

    <div class="container">
      <main>
        <div class="card border-0 mb-5 mt-5 card-border">
          <div
            class="card-body d-flex justify-content-between flex-row align-items-center"
          >
            <div>
              <h1 class="fw-bold m-0">STILI</h1>
            </div>

            <div>
              <a
                th:href="@{/styles/create}"
                class="btn btn-sm btn-success"
                ><i class="fa-solid fa-plus"></i> Agiungi Stile</a
              >
            </div>
          </div>
        </div>

        <section th:if="${styles.size() > 0}" class="mb-5">
          <div
            class="card h-100 bg-transparent border-0 d-flex flex-column gap-2 justify-content-between"
          >
            <div class="rounded-pill p-2 mx-0 row list-header card-border">
              <div class="text-secondary col-1">#</div>
              <div class="text-secondary col-4">Nome</div>
              <div class="text-secondary col-4">Fermentazione</div>
              <div class="text-secondary col-2">Birre</div>
              <div class="text-secondary col-1"></div>
            </div>
            <div
              class="bg-white rounded-pill p-2 mx-0 row card-border my-2"
              th:each="style : ${styles}"
              th:object="${style}"
            >
              <div class="fw-semibold col-1">[[*{id}]]</div>
              <div class="fw-semibold col-4">[[*{name}]]</div>
              <div class="fw-semibold col-4">[[*{fermentation}]]</div>
              <div class="col-2">
                <a
                  class="btn btn-sm btn-outline-warning px-3 fw-bold text-dark"
                  th:href="@{/beers(style=*{name})}"
                  >[[*{beers.size()}]]</a
                >
              </div>
              <div class="fw-semibold col-1">
                <div class="d-flex justify-content-end gap-2">
                  <a
                    class="btn btn-sm btn-outline-dark"
                    th:href="@{styles/{id}/edit (id = ${style.id})}"
                    ><i class="fa-solid fa-pen px-2"></i
                  ></a>
                  <button class="btn btn-sm btn-danger">
                    <i class="fa-solid fa-trash px-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div th:unless="${styles.size() > 0}">
          <p>Nessuno stile registrato</p>
        </div>
      </main>
    </div>

    <th:block th:replace="~{main/fragments :: scripts}"></th:block>
  </body>
</html>
