<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Beers Index</title>
    <th:block th:replace="~{main/fragments :: styles}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{main/fragments :: header}"></th:block>

    <div class="container">
      <main>
        <div class="card border-0 mb-5 mt-5 card-border">
          <div class="card-body">
            <div
              class="d-flex justify-content-between flex-row align-items-center mb-4"
            >
              <div>
                <h1 class="fw-bold m-0">BIRRIFICI</h1>
              </div>

              <div>
                <a th:href="@{/breweries/create}" class="btn btn-sm btn-success"
                  ><i class="fa-solid fa-plus"></i> Agiungi Birrificio</a
                >
              </div>
            </div>

            <form th:action="@{/breweries}" method="GET" class="mb-3">
              <div class="input-group input-group-sm">
                <input
                  type="text"
                  th:value="${name}"
                  name="name"
                  placeholder="Cerca per nome"
                  class="w-25 form-control"
                />

                <select
                  class="form-select"
                  aria-label="Default select example"
                  th:value="${nation}"
                  name="nation"
                >
                  <option selected th:value="0">Cerca per nazione</option>
                  <option th:each="n : ${nations}" th:value="${n.name}">
                    [[${n.name}]]
                  </option>
                </select>

                <button type="submit" class="btn btn-sm btn-warning">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a
                  class="btn btn-sm btn-outline-warning text-dark"
                  th:href="@{/breweries}"
                >
                  <i class="fa-solid fa-rotate-left"></i>
                </a>
              </div>
            </form>
          </div>
        </div>

        <section th:if="${breweries.size() > 0}" class="mb-5">
          <div
            class="card h-100 bg-transparent border-0 d-flex flex-column gap-2 justify-content-between"
          >
            <div class="rounded-pill p-2 mx-0 row list-header card-border">
              <div class="text-secondary col-1">#</div>
              <div class="text-secondary col-4">Nome</div>
              <div class="text-secondary col-4">Nazione</div>
              <div class="text-secondary col-2">Birre</div>
              <div class="text-secondary col-1"></div>
            </div>
            <div
              class="bg-white rounded-pill p-2 mx-0 row card-border my-2"
              th:each="brewery : ${breweries}"
              th:object="${brewery}"
            >
              <div class="fw-semibold col-1">[[*{id}]]</div>
              <div class="fw-semibold col-4">[[*{name}]]</div>
              <div class="col-4">
                <img
                  class="flags"
                  th:src="@{https://flagsapi.com/{n}/flat/64.png (n = *{nation})}"
                  alt="*{nation}"
                />
                <span class="badge text-secondary"> [[*{nation.name}]] </span>
              </div>
              <div class="col-2">
                <a
                  class="btn btn-sm btn-outline-warning px-3 fw-bold text-dark"
                  th:href="@{/beers(brewery=*{name})}"
                >
                  [[*{beers.size()}]]
                </a>
              </div>
              <div class="fw-semibold col-1">
                <div class="d-flex justify-content-end gap-2">
                  <a
                    class="btn btn-sm btn-outline-dark px-3"
                    th:href="@{breweries/{id}/edit (id = ${brewery.id})}"
                    ><i class="fa-solid fa-pencil"></i
                  ></a>
                  <div
                    th:replace="~{main/fragments :: deleteBreweryModal}"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div th:unless="${breweries.size() > 0}">
          <p>Nessun birrificio registrato</p>
        </div>
      </main>
    </div>

    <th:block th:replace="~{main/fragments :: scripts}"></th:block>
  </body>
</html>
