<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>fragments</title>

    <!-- # Styles -->
    <th:block th:fragment="styles">
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />

      <link
        rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
      />

      <link rel="stylesheet" th:href="@{/css/style.css}" />
    </th:block>
  </head>

  <body>
    <!-- # Header -->
    <header th:fragment="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"
            ><img
              th:src="@{/img/logo/bar-seeklogo.png}"
              alt="Logo"
              width="60"
              height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarNav"
          >
            <ul class="navbar-nav fw-bold">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/beers}">Birre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/styles}">Stili</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/breweries}">Birrifici</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- # Delete Modals -->
    <div th:fragment="deleteBeerModal">
      <button
        type="button"
        class="btn btn-sm btn-danger px-3"
        data-bs-toggle="modal"
        th:data-bs-target="'#deleteBeerModal' + ${beer.id}"
      >
        <i class="fa-solid fa-trash"></i>
      </button>

      <div
        class="modal fade"
        th:id="'deleteBeerModal' + ${beer.id}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fw-bold fs-5" id="exampleModalLabel">
                Elimina Birra
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              Sei sicuro di voler rimuovere la birra
              <span class="fw-semibold">"[[${beer.name}]]"</span> ?
              <br />
              Questa azione non è reversibile.
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                Annulla
              </button>
              <form th:action="@{/beers/{id}/delete(id = ${beer.id})}" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">
                  Elimina
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:fragment="deleteStyleModal">
      <button
        type="button"
        class="btn btn-sm btn-danger px-3"
        data-bs-toggle="modal"
        th:data-bs-target="'#deleteStyleModal' + *{id}"
      >
        <i class="fa-solid fa-trash"></i>
      </button>

      <div
        class="modal fade"
        th:id="'deleteStyleModal' + *{id}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fw-bold fs-5" id="exampleModalLabel">
                Elimina Stile
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              Sei sicuro di voler rimuovere lo stile
              <span class="fw-semibold">"[[*{name}]]"</span> ?
              <br />
              Questa azione non è reversibile.
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                Annulla
              </button>
              <form th:action="@{/styles/{id}/delete(id = *{id})}" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">
                  Elimina
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:fragment="deleteBreweryModal">
      <button
        type="button"
        class="btn btn-sm btn-danger px-3"
        data-bs-toggle="modal"
        th:data-bs-target="'#deleteBreweryModal' + *{id}"
      >
        <i class="fa-solid fa-trash"></i>
      </button>

      <div
        class="modal fade"
        th:id="'deleteBreweryModal' + *{id}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fw-bold fs-5" id="exampleModalLabel">
                Elimina Birrificio
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              Sei sicuro di voler rimuovere il birrificio
              <span class="fw-semibold">"[[*{name}]]"</span> ?
              <br />
              Questa azione non è reversibile.
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                Annulla
              </button>
              <form th:action="@{/breweries/{id}/delete(id = *{id})}" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">
                  Elimina
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- # Scripts -->
    <th:block th:fragment="scripts">
      <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

      <script
        th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
      ></script>
    </th:block>
  </body>
</html>
