<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Beer Form</title>

    <div th:replace="~{main/fragments :: styles}"></div>
  </head>
  <body>
    <div th:replace="~{main/fragments :: header}"></div>

    <div class="container">
      <main>
        <div class="card h-100 mt-5 card-border">
          <div class="card-body p-5">
            <div class="d-flex justify-content-between align-items-center">
              <div class="border-bottom border-2 w-100">
                <h1 th:if="${edit}">Modifica [[${beer.name}]]</h1>
                <h1 th:unless="${edit}">Registra Birra</h1>
              </div>
            </div>

            <form
              id="user-form"
              method="POST"
              enctype="multipart/form-data"
              th:action="${edit} ? @{/beers/{id}/edit (id = ${beer.id})} : @{/beers/create}"
              th:object="${beer}"
              class="row g-4 mt-2"
            >
              <input type="hidden" th:field="*{id}" />

              <div class="col-md-4">
                <label for="name" class="form-label">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  th:field="*{name}"
                  th:errorClass="is-invalid"
                />
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('name')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('name')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <label for="size" class="form-label">Dimensione (cl)</label>
                <input
                  type="number"
                  class="form-control"
                  id="size"
                  th:field="*{size}"
                  th:errorClass="is-invalid"
                />
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('size')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('size')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <label for="alcoholDegrees" class="form-label"
                  >Gradazione alcolica</label
                >
                <input
                  step="0.1"
                  type="number"
                  class="form-control"
                  id="alcoholDegrees"
                  th:field="*{alcoholDegrees}"
                  th:errorClass="is-invalid"
                />
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('alcoholDegrees')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('alcoholDegrees')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-12">
                <label for="imgFile" class="form-label">Immagine</label>
                <input
                  type="file"
                  class="form-control"
                  id="imgFile"
                  name="imgFile"
                  accept="image/*"
                />
              </div>

              <div class="col-md-6">
                <label for="brewery" class="form-label">Birrificio</label>
                <select
                  th:if="${breweries}"
                  class="form-select"
                  th:field="*{brewery}"
                  name="brewery"
                >
                  <option th:value="0"></option>
                  <option th:each="brew : ${breweries}" th:value="${brew.id}">
                    [[${brew.name}]]
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('brewery')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('brewery')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>

                <div th:unless="${breweries}" class="col-md-6">
                  <a
                    th:href="@{/breweries/create}"
                    class="btn btn-sm btn-warning"
                    >Registra Birrificio</a
                  >
                </div>
              </div>

              <div class="col-md-6">
                <label for="style" class="form-label">Stile</label>
                <select
                  th:if="${styles}"
                  class="form-select"
                  th:field="*{style}"
                  name="style"
                >
                  <option th:value="0"></option>
                  <option th:each="sty : ${styles}" th:value="${sty.id}">
                    [[${sty.name}]]
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('style')}"
                >
                  <ul>
                    <li
                      th:each="error : ${#fields.errors('style')}"
                      th:text="${error}"
                    ></li>
                  </ul>
                </div>

                <div th:unless="${styles}" class="col-md-6">
                  <a th:href="@{/styles/create}" class="btn btn-sm btn-warning"
                    >Registra Stile</a
                  >
                </div>
              </div>

              <div class="mt-5">
                <button type="submit" class="btn btn-success w-100">
                  Salva
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>

    <div th:replace="~{main/fragments :: scripts}"></div>
  </body>
</html>
