:root {
  --primary-color: #ffbd4a;
  --secondary-color: #212529;
  --bg-color: #f1f1f1;
  --title-font: "Rubik Mono One", serif;
  --text-font: "Be Vietnam Pro", serif;
  --navbar-height: 3.5rem;
  --jumbo-height: 28rem;
}

/* # Reset */

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: var(--primary-color);
}

.btn-plus {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.btn-plus:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  scale: 1.10;
}

.flags {
  max-width: 1.8rem;
}

.card-border {
  box-shadow: 0px 2px 10px var(--primary-color);
}

.card-header {
  background-color: var(--primary-color);
}

.list-header {
  background-color: var(--primary-color);
}
