:root {
  --primary-color: #ffbd4a;
  --secondary-color: #212529;
  --bg-color: #f1f1f1;
  --title-font: "Rubik Mono One", serif;
  --text-font: "Be Vietnam Pro", serif;
  --navbar-height: 3.5rem;
  --jumbo-height: 28rem;
}

/* # Reset */

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: var(--primary-color);
}

.flags {
  max-width: 1.8rem;
}

.card-header {
  background-color: var(--primary-color);
}
